In [2]:
# ðŸ“š Import Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Set display options
pd.set_option('display.max_columns', 100)

In [3]:
# ðŸ“¥ Load Dataset
# Make sure the file is in the `data/` folder and named correctly
df = pd.read_excel('../data/Online Retail.xlsx')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [4]:
# ðŸ“Š Basic Info & Missing Values
df.info()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [5]:
# ðŸ§¹ Remove Rows with Missing CustomerID
df = df[~df['CustomerID'].isnull()]
print("Shape after removing missing CustomerIDs:", df.shape)

Shape after removing missing CustomerIDs: (406829, 8)

In [7]:
# ðŸš« Remove Returns (Quantity <= 0)
df = df[df['Quantity'] > 0]
print("Shape after removing returns (Quantity <= 0):", df.shape)

Shape after removing returns (Quantity <= 0): (397924, 8)

In [8]:
# ðŸ§¾ Convert CustomerID to String and InvoiceDate to Datetime
df['CustomerID'] = df['CustomerID'].astype(str)
df['InvoiceDate'] = pd.to_datetime(df['InvoiceDate'])

In [9]:
# ðŸ’° Add `TotalPrice` Column
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']
df[['StockCode', 'Description', 'Quantity', 'UnitPrice', 'TotalPrice']].head()

,StockCode,Description,Quantity,UnitPrice,TotalPrice
0,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2.55,15.30
1,71053,WHITE METAL LANTERN,6,3.39,20.34
2,84406B,CREAM CUPID HEARTS COAT HANGER,8,2.75,22.00
3,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,3.39,20.34
4,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,3.39,20.34

In [10]:
# âœ… Final check
df.describe()

,Quantity,InvoiceDate,UnitPrice,TotalPrice
count,397924.000000,397924,397924.000000,397924.000000
mean,13.021823,2011-07-10 23:43:36.912475648,3.116174,22.394749
min,1.000000,2010-12-01 08:26:00,0.000000,0.000000
25%,2.000000,2011-04-07 11:12:00,1.250000,4.680000
50%,6.000000,2011-07-31 14:39:00,1.950000,11.800000
75%,12.000000,2011-10-20 14:33:00,3.750000,19.800000
max,80995.000000,2011-12-09 12:50:00,8142.750000,168469.600000
std,180.420210,NaN,22.096788,309.055588

In [11]:
# ðŸ’¾ Save Cleaned Dataset
df.to_csv('../data/cleaned_data.csv', index=False)
print("âœ… Cleaned dataset saved to: ../data/cleaned_data.csv")

âœ… Cleaned dataset saved to: ../data/cleaned_data.csv